html {
  min-height: 100%;
  position: relative;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:18px;
    } 

nav li{
    display:inline-block;
}


body {
	width: 100%;
	height: 1000px;
	margin: 0;
	margin-bottom: 40px;
	padding: 0.5em;
	background-color: #D42849;
	color: white;
	font-size: 14px;
}

header {
	width: 98%;
	margin: 1em;
	border-radius: 1em;
	box-shadow: 0px 0px 25px darkred;
}

#contenido {
	width: 98%;
	margin: 1em;
}

footer {
	bottom: 0;
  	width:98%;
  	height: 50px;
	background: #760F21;
	border-radius: 1em;
	margin: 1em;
	box-shadow: 0px 0px 25px darkred;
	position: absolute;
	text-align: center;
}

section {
	height: 100%;
	width: 71%;
	background-color: #760F21;
	border-radius: 1em;
	margin-left: 0.5em;
	float: left;
	box-shadow: 0px 0px 25px darkred;
}

aside {
	width: 25%;
	height: 100%;
	background-color: #760F21;
	border-radius: 1em;
	margin-right: 0.5em;
	float: right;
	box-shadow: 0px 0px 25px darkred;
}

article {
	width: 90;
	background: #424242;
	margin: 1em;
	border-radius: 1em;
	vertical-align: top;
}
input submit {
	background-color: #D42849;
}
li a{
	text-decoration: none;
	color: white;
    font-size:18px;
}

img{
   max-width:100%;
   vertical-align:top;
}